

.rangeslider__fill {
    background: #2196f3;

}
.rangeslider__handle {
  width:33px;
  height:33px;

}

.rangeslider--horizontal .rangeslider__handle {
    top: -9px;
  }

  .rangeslider--horizontal {
      height: 13px;
    }

  output {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin: 15px 0;
        width: 100%;
    }
